<?xml version="1.0"?>
<launch>
    
    <!-- Cargar el archivo URDF en el parámetro robot_description -->
    <param name="robot_description" textfile="$(find autlab2)/urdf/aubot.urdf"/>
    <!-- Nodo para publicar el modelo en /robot_state_publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <!-- Nodo para RViz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find opt_ur5)/config/view_robot.rviz"/>

    <!-- Nodo para publicar estados de las articulaciones (si no usas controladores) -->
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>


</launch>
